<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>
  <head>
    <title>${type} error</title>
    <link rel="stylesheet" type="text/css" href="${media_url}dash/dash.css"/>
  </head>

  <body>
      <div class="error">
        <p>The ${type} you entered</p>
        <p id="bad_name">${bad_content.lower()}</p>
        <p> is not valid.</p>
        <br />
        <p id="greeting" style="font-size:medium">Please try one of the following ${type}s.  Or add the ${type} via the
        <a href="/admin">admin menu</a>.</p>
        <ul id="error_choice">
        %for item in all_choices:
            <li><a href="../${item}">${item}</a></li>
        %endfor
        </ul>
      </div>
  </body>
</html>

